VITE_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
VITE_GENLAYER_CHAIN_ID=61997
VITE_GENLAYER_CHAIN_NAME=GenLayer Studio Next
VITE_CONTRACT_ADDRESS=
VITE_EXPLORER=https://explorer-studio-dev.genlayer.com
